In [1]:
import pandas as pd

from sqlalchemy import text
from database.database import session

import numpy as np
from pprint import pprint

postgresql://postgres:12345@localhost:5432/local_db
postgresql://postgres:12345@localhost:5432/local_db
Connected to - PostgreSQL 15.8 (Ubuntu 15.8-1.pgdg22.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit

In [2]:
def execute_query(session, query):
    try:
        result = session.execute(text(query))
        
        column_names = result.keys()
        rows = result.fetchall()

        return column_names, rows
    except Exception as e:
        print(f"Error executing query: {e}")

try:
    query = "SELECT table_name FROM information_schema.tables WHERE table_schema NOT IN ('pg_catalog', 'information_schema');"
    res_tables = execute_query(session, query)[1]
    session.commit()
except Exception as e:
    print(f'Error {e}')
    session.rollback()

In [3]:
df_list = []

for tb_name in res_tables:

    query = "SELECT * from "+tb_name[0]+";"
    col,rows = execute_query(session, query)

    cols = list([i for i in col])
    rows = np.array(rows)

    users_df = {}
    for i in range(len(cols)):
        users_df[cols[i]] = rows[:, i]

    pprint(users_df)

    users_df = pd.DataFrame(users_df)
    #users_df.set_index(cols[0], inplace=True)

    df_list.append(users_df)

{'email': array(['nivi@mail.com'], dtype='<U60'),
 'id': array(['1'], dtype='<U60'),
 'password': array(['$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7cNwPB991atm1B6'],
      dtype='<U60'),
 'role': array(['Admin'], dtype='<U60'),
 'username': array(['nivetha'], dtype='<U60')}
{'cat_id': array([1, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 24, 25, 26,
       27, 28, 29, 30, 31, 32], dtype=object),
 'cat_name': array(['Non-Veg', 'Veg', 'asdf', 'asdfg', 'asdfcgdfg', 'asddfcgdfg',
       'asddfcgwefgdfg', 'asddfcgwsdefgdfg', 'asddfcgwsdesdfgdfg',
       'asddfcgwsdewdfsdsdfgdfg', 'Non-Vegsdf', 'Non-Vegssdfdf',
       'Non-Vegsssdfdfdf', 'Non-Veg_2.0', 'Non-Vsdfghjkeg',
       'Non-Vsdfgyuihjkeg', 'Non-Veg3.0', 'Non-Veg4.0', 'Non-Veg5.0',
       'Non-Veg6.0', 'chinese', 'continental', 'chinese2.0',
       'continental2.0'], dtype=object),
 'created_at': array([datetime.datetime(2024, 10, 23, 12, 51, 20, 7840),
       datetime.datetime(2024, 10, 23, 12, 56, 14, 71363),
       datetime.datetime(2024, 10, 23, 12, 57, 12, 808207),
       datetime.datetime(2024, 10, 23, 12, 59, 9, 590776),
       datetime.datetime(2024, 10, 23, 12, 59, 35, 451508),
       datetime.datetime(2024, 10, 23, 13, 0, 5, 531164),
       datetime.datetime(2024, 10, 23, 13, 1, 8, 231506),
       datetime.datetime(2024, 10, 23, 13, 1, 29, 748901),
       datetime.datetime(2024, 10, 23, 13, 2, 2, 61311),
       datetime.datetime(2024, 10, 23, 13, 6, 22, 399821),
       datetime.datetime(2024, 10, 23, 14, 13, 40, 675734),
       datetime.datetime(2024, 10, 23, 14, 14, 19, 324654),
       datetime.datetime(2024, 10, 23, 14, 14, 57, 699694),
       datetime.datetime(2024, 10, 23, 14, 26, 43, 322847),
       datetime.datetime(2024, 10, 23, 15, 20, 38, 896874),
       datetime.datetime(2024, 10, 23, 15, 25, 56, 232701),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808)], dtype=object),
 'created_by': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=object),
 'is_active': array([True, True, True, True, True, True, True, True, True, True, True,
       True, True, True, True, True, True, True, True, True, True, True,
       True, True], dtype=object),
 'updated_at': array([None, None, None, None, None, None, None, None, None,
       datetime.datetime(2024, 10, 23, 13, 6, 22, 399821),
       datetime.datetime(2024, 10, 23, 14, 13, 40, 675734),
       datetime.datetime(2024, 10, 23, 14, 14, 19, 324654),
       datetime.datetime(2024, 10, 23, 14, 14, 57, 699694),
       datetime.datetime(2024, 10, 23, 14, 26, 43, 322847),
       datetime.datetime(2024, 10, 23, 15, 20, 38, 896874),
       datetime.datetime(2024, 10, 23, 15, 25, 56, 232701),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808)], dtype=object)}
{'cat_id': array([1, 19, 24, 25, 25, 26, 26, 27, 27, 28, 28, 29, 29, 30, 30, 31, 31,
       32, 32], dtype=object),
 'created_at': array([datetime.datetime(2024, 10, 23, 14, 50, 17, 616214),
       datetime.datetime(2024, 10, 23, 15, 20, 39, 35359),
       datetime.datetime(2024, 10, 23, 15, 25, 56, 243689),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808)], dtype=object),
 'created_by': array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=object),
 'sub_cat_id': array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
      dtype=object),
 'sub_cat_name': array(['Chicken', 'Non-Vegwertyuio', 'Non-Vegwertytyuiuio', 'Chicken2.0',
       'Mutton2.0', 'Chicken3.0', 'Mutton3.0', 'Chicken4.0', 'Mutton4.0',
       'Chicken5.0', 'Mutton5.0', 'noodles', 'fried rice',
       'chicken gravy', 'Mutton gravy', 'noodles', 'fried rice2.0',
       'chicken gravy2.0', 'Mutton gravy2.0'], dtype=object),
 'updated_at': array([datetime.datetime(2024, 10, 23, 14, 50, 17, 616214),
       datetime.datetime(2024, 10, 23, 15, 20, 39, 35359),
       datetime.datetime(2024, 10, 23, 15, 25, 56, 243689),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 5, 46, 501033),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 8, 40, 575172),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 22, 19, 447892),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808),
       datetime.datetime(2024, 10, 23, 17, 26, 30, 300808)], dtype=object)}
{'token': array(['eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5pdmV0aGEiLCJwYXNzd29yZCI6IjEyMzQ1Njc4Iiwicm9sZSI6IkFkbWluIiwiZXhwIjoxNzI5NzU3NTY1LjQ2NjE0Mzh9.2yAzWPlnt7yVzdM-27giF9p8ehDOHUugtNnMB6sgaz0',
       'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5pdmV0aGEiLCJwYXNzd29yZCI6IjEyMzQ1Njc4Iiwicm9sZSI6IkFkbWluIiwiZXhwIjoxNzI5NzYwNDIzLjc4NDQ5NTR9.okkfl970nWMdvPoIAynSpm84ARLImd6y3ytuUOGzbYU',
       'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5pdmV0aGEiLCJwYXNzd29yZCI6IjEyMzQ1Njc4Iiwicm9sZSI6IkFkbWluIiwiZXhwIjoxNzI5NzY5NzA0LjYzMTU4MzV9.RuOQ-U-G_AUbB-nzTFvjzz0QRLo7TW29jUapuuGoWyA',
       'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5pdmV0aGEiLCJwYXNzd29yZCI6IjEyMzQ1Njc4Iiwicm9sZSI6IkFkbWluIiwiZXhwIjoxNzI5ODQyMDYwLjc2ODgzNDZ9.fT1wBbg9VnhM15J0DR7Frt3gSjNKB-T6-E-zE2-Fzhk',
       'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5pdmV0aGEiLCJwYXNzd29yZCI6IjEyMzQ1Njc4Iiwicm9sZSI6IkFkbWluIiwiZXhwIjoxNzI5ODQ0Njk4Ljc4ODE1NH0.n_9CDf6Jy_2IAQ-kxs5fG09Vf7IdN2iOS8wQZhcDMY0',
       'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5pdmV0aGEiLCJwYXNzd29yZCI6IjEyMzQ1Njc4Iiwicm9sZSI6IkFkbWluIiwiZXhwIjoxNzI5ODUxMTEzLjU0OTIwODR9.kbz5UlH-eEqupN3kxUOUsyUIQ3EvDTgZivmE7lG72QI',
       'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5pdmV0aGEiLCJwYXNzd29yZCI6IjEyMzQ1Njc4Iiwicm9sZSI6IkFkbWluIiwiZXhwIjoxNzI5ODUyNDUxLjM0MjY3Nn0.SQH8KubpQiXYbgOH-20GCaAN35AOmFqI70FL4a9zUa0'],
      dtype='<U193'),
 'token_id': array(['1', '2', '3', '4', '5', '6', '7'], dtype='<U193')}

In [4]:
# Rename the column in df_list[1 if necessary
df_list[1] = df_list[1].rename(columns={'created_by': 'id'})

# # Ensure 'id' columns are of the same data type
df_list[0]['id'] = df_list[0]['id'].astype(int)
df_list[1]['id'] = df_list[1]['id'].astype(int)

df_list.append(pd.merge(df_list[0], df_list[1],  on='id'))

df_list[2].drop('created_by', axis=1, inplace=True)
df_list.append(pd.merge(df_list[4], df_list[2],  on='cat_id'))

#df_list[3]['id'] = 1
#df_list.append(pd.merge(df_list[5], df_list[3],  on='id'))

df_list[5] = df_list[5].rename(columns={'id': 'user_id'})

df_list[5].index = range(1, len(df_list[5]) + 1)
df_list[5]

,user_id,username,email,password,role,cat_id,cat_name,is_active,created_at_x,updated_at_x,sub_cat_id,sub_cat_name,created_at_y,updated_at_y
1,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,1,Non-Veg,True,2024-10-23 12:51:20.007840,NaT,1,Chicken,2024-10-23 14:50:17.616214,2024-10-23 14:50:17.616214
2,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,19,Non-Vsdfghjkeg,True,2024-10-23 15:20:38.896874,2024-10-23 15:20:38.896874,2,Non-Vegwertyuio,2024-10-23 15:20:39.035359,2024-10-23 15:20:39.035359
3,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,24,Non-Vsdfgyuihjkeg,True,2024-10-23 15:25:56.232701,2024-10-23 15:25:56.232701,3,Non-Vegwertytyuiuio,2024-10-23 15:25:56.243689,2024-10-23 15:25:56.243689
4,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,25,Non-Veg3.0,True,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033,4,Chicken2.0,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033
5,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,25,Non-Veg3.0,True,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033,5,Mutton2.0,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033
6,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,26,Non-Veg4.0,True,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033,6,Chicken3.0,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033
7,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,26,Non-Veg4.0,True,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033,7,Mutton3.0,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033
8,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,27,Non-Veg5.0,True,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172,8,Chicken4.0,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172
9,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,27,Non-Veg5.0,True,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172,9,Mutton4.0,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172
10,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,28,Non-Veg6.0,True,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172,10,Chicken5.0,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172
11,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,28,Non-Veg6.0,True,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172,11,Mutton5.0,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172
12,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,29,chinese,True,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892,12,noodles,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892
13,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,29,chinese,True,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892,13,fried rice,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892
14,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,30,continental,True,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892,14,chicken gravy,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892
15,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,30,continental,True,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892,15,Mutton gravy,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892
16,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,31,chinese2.0,True,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808,16,noodles,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808
17,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,31,chinese2.0,True,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808,17,fried rice2.0,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808
18,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,32,continental2.0,True,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808,18,chicken gravy2.0,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808
19,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,32,continental2.0,True,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808,19,Mutton gravy2.0,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808

In [6]:
df_list[5].index.names = ['S_No.']
df_list[5]

,user_id,username,email,password,role,cat_id,cat_name,is_active,created_at_x,updated_at_x,sub_cat_id,sub_cat_name,created_at_y,updated_at_y
S_No.,,,,,,,,,,,,,,
1,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,1,Non-Veg,True,2024-10-23 12:51:20.007840,NaT,1,Chicken,2024-10-23 14:50:17.616214,2024-10-23 14:50:17.616214
2,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,19,Non-Vsdfghjkeg,True,2024-10-23 15:20:38.896874,2024-10-23 15:20:38.896874,2,Non-Vegwertyuio,2024-10-23 15:20:39.035359,2024-10-23 15:20:39.035359
3,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,24,Non-Vsdfgyuihjkeg,True,2024-10-23 15:25:56.232701,2024-10-23 15:25:56.232701,3,Non-Vegwertytyuiuio,2024-10-23 15:25:56.243689,2024-10-23 15:25:56.243689
4,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,25,Non-Veg3.0,True,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033,4,Chicken2.0,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033
5,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,25,Non-Veg3.0,True,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033,5,Mutton2.0,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033
6,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,26,Non-Veg4.0,True,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033,6,Chicken3.0,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033
7,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,26,Non-Veg4.0,True,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033,7,Mutton3.0,2024-10-23 17:05:46.501033,2024-10-23 17:05:46.501033
8,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,27,Non-Veg5.0,True,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172,8,Chicken4.0,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172
9,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,27,Non-Veg5.0,True,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172,9,Mutton4.0,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172
10,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,28,Non-Veg6.0,True,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172,10,Chicken5.0,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172
11,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,28,Non-Veg6.0,True,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172,11,Mutton5.0,2024-10-23 17:08:40.575172,2024-10-23 17:08:40.575172
12,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,29,chinese,True,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892,12,noodles,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892
13,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,29,chinese,True,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892,13,fried rice,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892
14,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,30,continental,True,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892,14,chicken gravy,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892
15,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,30,continental,True,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892,15,Mutton gravy,2024-10-23 17:22:19.447892,2024-10-23 17:22:19.447892
16,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,31,chinese2.0,True,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808,16,noodles,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808
17,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,31,chinese2.0,True,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808,17,fried rice2.0,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808
18,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,32,continental2.0,True,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808,18,chicken gravy2.0,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808
19,1,nivetha,nivi@mail.com,$2b$12$ZoNXNYl.8etj2AF1fXjkVutkEx9M7Q3s.rHBJt7...,Admin,32,continental2.0,True,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808,19,Mutton gravy2.0,2024-10-23 17:26:30.300808,2024-10-23 17:26:30.300808

In [7]:
df_list[5].to_excel("output.xlsx")